body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* O SEGREDO: Isso mata as barras de rolagem */
  background-color: #1d1d1d;
  /* Para evitar clarões brancos ao carregar */
}

/* Opcional: Garante que a div 'root' do React também cresça */
#root {
  width: 100%;
  height: 100%;
}

@tailwind base;
@tailwind components;
@tailwind utilities;